body{
    margin: 0;
    background: grey;
    color: grey;
    font-family: 'Libre Franklin', sans-serif;

}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background: black;
    width: 100%;
    top: 0;
    /*position: fixed;*/
    
}
.logo{
    float: left;
    padding: 25px 15px;
}
nav{
    float: left;
    
}
header::after{
    content: '';
    display: table;
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 35px;
    padding-top: 29px;
    padding-bottom: 15px;
}

nav li a:hover{
    color: #76b900;
}
.navProductsDropdown:hover{
    color: white;
}

.navProductsDropdown .navProductsDropdownBtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.navProductsDropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Links inside the dropdown */
  .navProductsDropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navProductsDropdown:hover .navProductsDropdown-content {
    display: block;
  }

  .navProductsDropdown-contentEl{
    float: none;
    color: grey;
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .navGCDropdown .navGCDropdownBtn{
    font-size: 16px;
    padding: 12px 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .navGCDropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 175.06px;
    top: -0px;
  }

  .navGCDropdown:hover .navGCDropdown-content {
    display: block;
  }

  
.navGCDropdown-content:hover .navGCDropdown-content {
    display: block;
  }


.navProductsDropdown .navGCDropdown-content{
    min-width: 190px;

}

.navProductsDropdown a{
    color: grey;
}

.navGCDropdownBtn:hover{
    color: black;
}

.main {
  /*margin-top: 73px; */
}
/*SLIDESHOW CSS*/
.slideshow-container {
  position: relative;
  margin: auto;
  height: auto;
  width: 100%;
}
.slideshow-container img{
  width: 100%;
  height: auto;
  max-height: auto;
}

.slideshow-text {
  font-weight: bold;
  color: #f2f2f2;
  font-size: 4.5vw;
  padding: 8px 90px;
  top: 30px;
  position: absolute;
}
.secondSlideshow-text{
  padding: 8px 30px;
}
.slideshow-subtext{
  font-size: 2.5vw;
  color: #76b900;
}

.slideshow-container button{
  background-color: #76b900;
  font-weight: bold;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
}


.dot {
  top: -25px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #76b900;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*WHERE TO BUY SECTION*/
.whereToBuySection{
  padding: 0px;
  position: relative;
  margin: auto;
  height: auto;
  top: -23px;
}
.whereToBuySection img{
  width: 100%;
  height: auto;
  max-height: auto;
}

.whereToBuySection .whereToBuyText{
  font-weight: lighter;
  color: #f2f2f2;
  font-size: 3vw;
  /*padding: 110px 40px;*/
  padding: 7vw 3vw;

  top: 30px;
  position: absolute;
}
.whereToBuySection .wheretoBuySubtext{
  font-weight: lighter;
  color: #f2f2f2;
  font-size: 1.5vw;
  padding: 15px 0px;
}
.whereToBuySection button{
  font-weight: bold;
  background-color: #76b900;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
}





/* for phones */
@media screen and (max-width: 800px) {
  .logo{
    width: 15vw;
    padding: 6vw 5vw;
  }
  nav li a{
    font-size: 1.7vw;
  }

  .navProductsDropdown .navProductsDropdownBtn{
    font-size: 1.7vw
  }
  .navProductsDropdown .navGCDropdownBtn{
    font-size: 1.7vw
  }
  .navProductsDropdown-content{
    min-width: 100px;
  }
  .navProductsDropdown .navGCDropdown-content{
    left: 21vw;
    min-width: 100px;
    
  }
  nav li{
    margin-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 15px;
}
.slideshow-text{
  font-size: 4.5vw;
  padding: 8px 20px;
  top: 0px;
}
.slideshow-text button{
  font-size: 2vw;
  padding: 5px 10px;
}
.secondSlideshow-text{
  padding: 8px 10px;
}
.dot{
  height: 10px;
  width: 10px;
}

.whereToBuySection button{
  font-size: 2vw;
  padding: 5px 10px;
}
.whereToBuySection .whereToBuyText{
  top: 1vw;
  line-height: 0.7vw ;

}
.whereToBuySection .wheretoBuySubtext{
  font-size: 1.7vw;
}
}