#container {
    display: grid;
    grid-template-areas:
      'one two  three'
      'one two  four'
      'one two  five';
    padding: 10px;
  }
#d1 { grid-area: one; }
#d2 { grid-area: two; }
#d3 { grid-area: three; }
#d4 { grid-area: four; }
#d5 { grid-area: five; }

@media screen and (max-width: 500px) {
    #container {
            grid-template-areas:
              'one'
              'two'
              'four'
              'five';
              width: 50%;
          }
    #d3{
        display: none;
    }
  }
